{{- $minReplicas := .Values.autoscaling.minReplicas | default 2 | int -}}
{{- if and .Values.podDisruptionBudget.enabled (gt $minReplicas 1) }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "hodei-server.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hodei-server.labels" . | nindent 4 }}
spec:
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "hodei-server.selectorLabels" . | nindent 6 }}
{{- end }}
