{{- if .Values.secrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hodei-server.fullname" . }}-auth
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hodei-server.labels" . | nindent 4 }}
type: Opaque
stringData:
  jwt-secret: {{ .Values.secrets.jwtSecret | default (randAlphaNum 32) | quote }}
---
{{- if eq .Values.database.type "postgres" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hodei-server.fullname" . }}-db
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hodei-server.labels" . | nindent 4 }}
type: Opaque
stringData:
  url: {{ printf "postgresql://%s:%s@%s-postgresql:%d/%s" .Values.database.auth.username .Values.database.auth.password (include "hodei-server.fullname" .) (.Values.database.port | default 5432) .Values.database.name | quote }}
{{- end }}
---
{{- if eq .Values.eventBus.type "nats" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hodei-server.fullname" . }}-nats
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hodei-server.labels" . | nindent 4 }}
type: Opaque
stringData:
  url: {{ printf "nats://%s-nats:%d" (include "hodei-server.fullname" .) (.Values.eventBus.nats.port | default 4222) | quote }}
{{- end }}
{{- end }}
