apiVersion: v1
kind: Service
metadata:
  name: {{ include "hodei-server.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hodei-server.labels" . | nindent 4 }}
  {{- if .Values.service.annotations }}
  annotations:
    {{- toYaml .Values.service.annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if and (eq .Values.service.type "LoadBalancer") .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  {{- if and (eq .Values.service.type "LoadBalancer") .Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml .Values.service.loadBalancerSourceRanges | nindent 4 }}
  {{- end }}
  ports:
    - name: http
      port: {{ .Values.server.port }}
      targetPort: http
      protocol: TCP
    - name: grpc
      port: {{ .Values.server.grpcPort }}
      targetPort: grpc
      protocol: TCP
    {{- if .Values.observability.metrics.enabled }}
    - name: metrics
      port: {{ .Values.observability.metrics.port }}
      targetPort: metrics
      protocol: TCP
    {{- end }}
  selector:
    {{- include "hodei-server.selectorLabels" . | nindent 4 }}
